:root{
    --dim1:1;
    --dim2:1;
    --loader:0;
}

/* latin-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v22/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTo3j77e.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v22/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3jw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
body {
    font-family: Nunito;
    text-align: center;
    background-color: white;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    opacity: calc(var(--loader)*2.5);
}

#logo {
    position: absolute;
    top:3vh;
    left:3vw;
    opacity: 0.5;
    width: 5vw;
    height: auto;
    border-radius: 50%;
}
#logo >img {
    width: 5vw;
    height: auto;
    border-radius: 50%;
}
#page_thumbnails_container{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 10vh;
    padding-top: 2vh;
    margin: auto;
    
}
.thumbnail {
    background-color:white;
    width: 10%;
    height:100% ;
    border-radius: 3%;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777; 
    transition: opacity,-webkit-box-shadow,-moz-box-shadow,box-shadow 500ms ease-out;
} 
.thumbnail:hover{
    -moz-box-shadow: 1px 1px 3px 1px #777777;
    -webkit-box-shadow: 1px 1px 3px 1px #777777;
    box-shadow: 1px 1px 3px 1px #777777; 
    opacity: 1;
    transition: 500ms ease-out;
}
.thumbnail > img {
    width: 100%;
    height:100%;
    object-fit: contain;
    border-radius: 3%;
}
#page_names {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    height:fit-content;
    padding: 2vh 0;
    margin: auto;
}
#page_names >text {
    width: 10vw;
    display: inline;
    text-align: center;
    opacity: 0.2;
    transform:scale(var(--dim1),var(--dim2));
} 
#progress {
    display: flex;
    justify-content: flex-start;
    height: 1vh;
    width: 60vw;
    margin-top: 2vh;
    border-radius: 2vh;
    background-color:rgba(120, 168, 222, 0.178);
    position: absolute;top :6vh;left:20vw;
    z-index: -1;
}
#bar {
    width: 0vw;
    background-color:rgb(120,167,222);
}
#progress >img {
    height: 3vh;
    width: 1.5vw;
    position: relative;top:-1vh ;left: -0.5vw;
}
#content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 35% 65%;
    width: 80vw;
    height: 75vh;
    text-align: left;
    border: 1px  solid lightgray;
    border-top: 1vh solid rgb(120,167,222); 
    border-bottom: 1vh solid rgb(120,167,222);
    border-radius: 5px;
    margin: auto;
}
#section_1 {
    background-color:aliceblue;
    font-size:calc(0.4vw + 1.6vh);
    padding: 1vw;
    overflow-y :scroll;
}
#heading{
    font-size:calc(0.5vw + 1.7vh);
    margin-top: 0;
    padding-bottom: 1vh;
    border-bottom: 0.1vh dashed rgba(0, 0, 0, 0.623);
}
ul{
    padding-top: 2vh;
    padding-left: 0.5em;
}
#section_2 {
    display: grid;
    grid-auto-flow: column;
    background-color:white;
}

.nav{
    width: 20vh;
    height: auto;
}
.nav> img {
    filter: drop-shadow( 2px 2px 3px rgba(4, 4, 4));
    height:8vh;
    width: auto; 
    padding: 2vw;
}
.nav>img:hover {
    filter: drop-shadow( 2px 2px 2px rgb(4, 4, 4));
}

#left{
    position:absolute;left:0vw;top:50vh;
}
#right{
    position:absolute;right:0vw;top:50vh;
    transform: rotate(180deg);
}

