
.thumbnail:nth-child(3),#page_names >text:nth-child(3) {
    opacity: 1;
} 
#bar {
    width: calc(25vw + 15vw*var(--loader));
}

canvas{
    margin: auto;
}
#hint{
    background-color:darkturquoise;
    margin: 1vh;
    padding: 1vh;
    border-radius: 1vw;
    font-size:small;
}