
:root{
    --dim1:1;
    --dim2:1;
    --loader:0;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunito/v22/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTo3j77e.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nunito/v22/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3jw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: Nunito;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select:none;
    user-select:none;
    opacity: calc(var(--loader)*2.5); 
}
#logo {
  position: absolute;
  top:4%;
  left:3%;
  opacity: 0.5;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
#logo >img {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
#page_thumbnails_container{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    height: 10vh;
    padding-top: 3vh;
    margin: auto;
    
}
.thumbnail {
    background-color:white;
    width: 10%;
    height:100% ;
    border-radius: 3%;
    -moz-box-shadow: 0 0 10px #777777;
    -webkit-box-shadow: 0 0 10px #777777;
    box-shadow: 0 0 10px #777777; 
    transition: opacity,-webkit-box-shadow,-moz-box-shadow,box-shadow 500ms ease-out;
} 
.thumbnail:hover{
    -moz-box-shadow: 1px 1px 3px 1px #777777;
    -webkit-box-shadow: 1px 1px 3px 1px #777777;
    box-shadow: 1px 1px 3px 1px #777777; 
    opacity: 1;
    transition: 500ms ease-out;
}
.thumbnail > img {
    width: 100%;
    height:100%;
    object-fit: contain;
    border-radius: 3%;
}
#page_names {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    height:fit-content;
    padding: 2vh 0;
    margin: auto;
}
#page_names >text {
    width: 10%;
    display: inline;
    text-align: center;
    opacity: 0.2;
    transform:scale(var(--dim1),var(--dim2));
} 

  .thumbnail:nth-child(5)>img,#page_names >text:nth-child(5) {
    opacity: 1;
} 
#progress {
  display: flex;
  justify-content: flex-start;
  height: 1vh;
  width: 60vw;
  border-radius: 1vh;
  background-color:rgba(120, 168, 222, 0.199);
  position: relative;top:-13vh;
  margin: auto;
  z-index: -10;
}
#bar {
  width: 52vw;
  background-color: rgb(120,167,222);
}
#progress >img {
  height: 3vh;
  width: 1.5vw;
  position: relative;top:-1vh ;left: -0.5vw;
}
  #content{
    margin:auto;
    display: grid;
    width: 90vw;
    height: 95vh;
    grid-auto-flow: column;
    border-top: 1vh solid rgb(120,167,222); 
    border-bottom: 1vh solid rgb(120,167,222);
    border-radius: 5px;
    margin: auto;
  }
  #section_1{
    background-color: aliceblue;
    width:29vw;
    height: 95vh;
    padding-left: 1vw;
    font-size:calc(0.4vw + 1.6vh);
    border-left: 1px solid lightgray;
  }

#heading{
    text-align: left;
    font-size: medium;
    padding-bottom: 1vh;
    border-bottom: 0.1vh dashed rgba(0, 0, 0, 0.623);
}
#mimic{
  position: relative;
  width: 29vw;
  height: 10vh;
}
#mimic2{
  width: 28vw;
  height: 10vh;
  opacity: 1;
  position: absolute;top: 0;left: 0;
}
#mimic2:hover{
  opacity: 0;
}
#eom{
  width: 28vw;
  height: 10vh;
  padding: 0%;
  margin: 0%;
  opacity: 1;
}

#t1{
  background-color:aliceblue;
  width: 3vw;
  height: 5.5vh;
  justify-content: right;
  position: absolute;top:2vh;left: 0vw;
}
#t2{
  background-color: aliceblue;
  width: 2vw;
  height: 3vh;
  position: absolute;top:1vh;left:9.4vw;
}
#t3{
  background-color: aliceblue;
  width: 2vw;
  height: 3vh;
  position: absolute;top:6vh;left: 9vw;
  
}
#t4{
  background-color: aliceblue;
  width: 2vw;
  height: 5vh;
  position: absolute;top:2vh;left: 12vw;
}
#t5{
  background-color:aliceblue;
  width: 2.3vw;
  height: 5vh;
  position: absolute;top:2.5vh;left: 15.1vw;
}
#t6{
  background-color:aliceblue;
  width: 2vw;
  height: 3.5vh;
  position: absolute;top:1vh;left: 22.7vw;
}
#t7{
  background-color:aliceblue;
  width: 2vw;
  height: 3.5vh;
  position: absolute;top:5.5vh;left: 22.7vw;
}
#t8{
  background-color: aliceblue;
  width: 2vw;
  height: 4vh;
  position: absolute;top:3vh;left:25vw;
}
.terms{
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  font-size: calc(1vw * 1vh);
}
  input[type="range"] {
    display: inline-block;
    -webkit-appearance: none;
    background-color: #ccc;
    width: 13vw;
    height: 0.5vh;
    border-radius: 1vh;
    margin: 0;
    outline:0;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color:steelblue ;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    border: .5vh solid #ccc;
    cursor:pointer;
    transition: .25s ease-in-out;
  }​
    input[type="range"]::-webkit-slider-thumb:hover {
    background-color:steelblue;
    border: .5vh solid white;
  }
    input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.2);
  }
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    background-color:steelblue ;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    border: .5vh solid #ccc;
    cursor:pointer;
    transition: .25s ease-in-out;
  }​
    input[type="range"]::-moz-range-thumb:hover {
    background-color:steelblue;
    border: .5vh solid white;
  }
    input[type="range"]::-moz-range-thumb:active {
    transform: scale(1.2);
  }
  #section_2{
    width: 60vw;
    height: 95vh;
    border-right: 1px solid lightgray;
  }
  canvas{
    margin: auto ;
    cursor: pointer;
}
  .nav{
    width: 20vh;
    height: auto;
}
.nav> img {
    filter: drop-shadow( 2px 2px 3px rgba(4, 4, 4));
    height:8vh;
    width: auto; 
    padding: 0vw;
}
.nav>img:hover {
    filter: drop-shadow( 2px 2px 2px rgb(4, 4, 4));
}

#left{
    position:fixed;left:0vw;top:55vh;
}
#right{
    position:fixed;right:0vw;top:55vh;
    transform: rotate(180deg);
}

